  ul{
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 200px;
    background-color:#d3d3d3 ;
    height: 350px;
   border-radius: 5px;
   border: 1px solid blue;
    
  }
  
  
  li a{
    display: flex;
    color: #000;
    padding: 20px 32px;
    text-decoration: none;
    
  }
  
  
  li a:hover{
    background-color:darkgray;
    color: white;
    height: 10px;

  }
  
  
  body{
    background-image: url("project2.gif");
    background-color:black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    align-content: stretch;
    display: flex;
    width:100%;
    }


  main{
      width:70%;
      display:flex;
      flex-direction: row;
   }


  #midden{
     height: 100%;
     width:60%;
     
     background-repeat: no-repeat;
     background-size: 25%;
     background-attachment: fixed;
     background-position: center;
    }
   
   
  #rechts {
     height:100%;
     width: 40%;
      display:flex;
      flex-direction: column;
      justify-content:space-around;
      border-radius: 5px;
      padding: 1px;
    }
   

  header {
    display: flex;
    justify-content: right;
    width:20%;
  }

  
  
  .box1 {
    border: 1px solid gold;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    justify-content: right;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace

    
  }
  
  .box2 {
    border: 1px solid blue ;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    
  }
  
  .box3 {
    border: 1px solid blue;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    
    
  }

  #box4{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  
  p {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;
    line-height:18px;
    color:black;
    border: solid 1px violet;
    border-radius: 5px;
    
    background-color: lightgrey;
    height: 430px;
    opacity: 0.90;
    font-family: "Courier New", Courier, monospace;
    width: 430px;
    margin: 11px;
    
}


input{
height: 20px;
width: 325px;
display: flex;
float: right;
border: solid 1px violet;
border-radius: 2px;
}

 
img{
height: 300px;
width: 300px;
margin: 5px;
border:solid 2px gold;
border-radius: 2px;
display: flex;
justify-content: left;
}

.box4 {
  border: 1px solid gold;
  background-color: darkgray;
  height: 100px;
  width: 300px;
  opacity: 1;
  padding: 10px;
  justify-content: right;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  margin: 10px;;
}
  .box5 {
    border: 1px solid blue ;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    
  }

  .box6 {
    border: 1px solid blue;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    
  }

  #links{

  height: 100%;
  width: 40%;
margin: 100
  }
  main{
    margin: 10px;
  }
  
  .box10 {
    border: 1px solid blue;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    display: flex;
    margin: 10px;
  }

  .box11 {
    border: 1px solid blue;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    display: flex;
    margin: 10px;
  }

  .box12 {
    border: 1px solid blue;
    background-color: darkgray;
    height: 100px;
    width: 300px;
    opacity: 1;
    padding: 10px;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    
  }

    #Foto1{
      height: 100px;
      width: 150px;




    }

    #Foto2{
      height: 100px;
      width: 150px;




    }

    #Foto3{
      height: 100px;
      width: 150px;




    }
    .box20 {
      border: 1px solid blue;
      background-color: darkgray;
      height: 200px;
      width: 300px;
      opacity: 1;
      padding: 10px;
      display: flex;
      font-family: "Courier New", Courier, monospace;
      border-radius: 5px;
      display: flex;
      margin: 10px;
      
    }
    .box21 {
      border: 1px solid violet;
      background-color: darkgray;
      height: 200px;
      width: 300px;
      opacity: 1;
      padding: 10px;
      display: flex;
      font-family: "Courier New", Courier, monospace;
      border-radius: 5px;
      display: flex;
      margin: 10px;
      
    }
    .box22 {
      border: 1px solid yellow;
      background-color: darkgray;
      height: 200px;
      width: 300px;
      opacity: 1;
      padding: 10px;
      display: flex;
      font-family: "Courier New", Courier, monospace;
      border-radius: 5px;
      display: flex;
      margin: 10px;
      
    }
    .box30{
      border: 1px solid yellow;
      background-color: darkgray;
      height: 200px;
      width: 300px;
      opacity: 1;
      padding: 10px;
      display: flex;
      font-family: "Courier New", Courier, monospace;
      border-radius: 5px;
      display: flex;
      margin: 20px;
      
    }
    .box31 {
      border: 1px solid violet;
      background-color: darkgray;
      height: 200px;
      width: 300px;
      opacity: 1;
      padding: 10px;
      display: flex;
      font-family: "Courier New", Courier, monospace;
      border-radius: 5px;
      display: flex;
      margin: 20px;
      
    }
    .box32 {
      border: 1px solid yellow;
      background-color: darkgray;
      height: 200px;
      width: 300px;
      opacity: 1;
      padding: 10px;
      display: flex;
      font-family: "Courier New", Courier, monospace;
      border-radius: 5px;
      display: flex;
      margin: 20px;
      
    }
    
    #fitness{
      height: 190px;
      width: 290px;
      border: solid 2px blue;
    }

    #gamen{
      height: 190px;
      width: 290px;
      border: solid 2px violet;
    
    }

    #reizen{
      height: 190px;
      width: 290px;
      border: solid 2px red;
    }

    input[type=text], select, textarea {
      width: 100%; 
      padding: 12px; 
      border: 1px solid gold; 
      border-radius: 4px; 
      box-sizing: border-box; 
      margin-top: 6px;
      margin-bottom: 16px; 
      resize: vertical 
    }
    
    
    input[type=submit] {
      background-color: violet;
      color: white;
      padding: 12px 15px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      height: 50px;
      width: 80px;
    }
    
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    
    .container {
      border-radius: 5px;
      background-color: lightgray ;
      padding: 20px;
    }

    #midden2{
      height: 100%;
      width: 100%;
    }

    #vandaag{
      font-size: 100%;
    }
    
    #all{
      width:100%;
      margin: 0 auto; 
    }
    
    #likes{
      height:5px;
      width:50%;
      background:#0000ee;
      float:left;
    }
    #dislikes{
      height:5px;
      width:50%;
      background:#ccc;
      float:right;
    }
    
    #bar{
      margin:0 auto;
      width:60%;
    }
    
    #bar{
      margin:0 auto;
      width:60%;
    }

    progress{
      display: flex;
      justify-content: center;
      margin: 10%;
    }

    #vandaag{
      color:gold;
      margin: 10px;
    }